.product-lister {
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  user-select: none;
  transition: 0.3s all ease-in-out;
  width: 100%;
}

.grabbing {
  cursor: grabbing;
}

.product-lister .main-lister {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;
}

.product-lister .main-lister::-webkit-scrollbar {
  display: none;
}

.product-lister .title {
  padding-bottom: 15px;
  transform: translateX(5%);
}

.product-lister .d-lister .container-lister {
  display: flex;
  color: black;
  border-radius: 10px;
  background: white;
}

.product-lister .main-lister .d-lister {
  transform: translateX(5%);
  width: 100%;
}

.product-lister .main-lister .d-lister .container-lister .product-list {
  background: white;
  padding: 15px 10px;
  padding-bottom: 0;
  border: none;
}

.product-lister .main-lister .d-lister .container-lister .product-list:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.product-lister .main-lister .d-lister .container-lister .product-list:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 0;
}

.product-lister .product-list .container {
  display: flex;
  padding-right: 20px;
}

.product-lister .product-list .container .lf {
  margin-right: 15px;
}

.product-lister .product-list .container .lf img {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.product-lister .product-list .head-1 {
  font-size: 23px;
  width: 70%;
  padding-left: 10px;
  padding-bottom: 20px;
}

.product-lister .product-list .container .rg h2 {
  color: #be2525;
}

.product-list .rg .sale p {
  font-size: 20px;
  position: relative;
  font-weight: 550;
  margin: 10px 0;
}

.product-list .rg .sale p:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 3px;
}

.product-list .rg .sale p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 60%;
  height: 2px;
  background: black;
  border-radius: 3px;
}

.product-list .rg .address {
  font-size: 19px;
  font-weight: 600;
}

@media screen and (max-width: 860px) {
  .product-lister .product-list .container .lf img {
    width: 140px;
    height: 140px;
  }

  .product-lister .product-list .container .rg h2 {
    font-size: 22px;
  }

  .product-list .rg .sale p {
    font-size: 19px;
  }

  .product-lister .product-list .head-1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lister .main-lister::-webkit-scrollbar {
    display: inherit;
    width: 12px;
    height: 7px;
  }

  .product-lister .main-lister::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 50px;
    cursor: grabbing;
    transition: 0.3s all ease-in-out;
  }

  .product-lister:hover .main-lister::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
  }
}
